* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(200, 200, 200);
    font-family: sans-serif;
    color: black;
}

.contenedorr {
    width: 100%;
    margin:0 auto;
}

.seccion {
    width: 100%;
    padding: 1rem;
}

.seccion_titulo {
    text-align: center;
    margin-bottom: 2rem;
}

.grid_texto {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(185, 185, 185);
    color: black;
    padding: 0.5rem 1rem;
}

.grid {
    padding: 1rem;
    min-height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    width: 900px;

}

.gridd {
    padding: 1rem;
    min-height: 350px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    width: 800px;
    margin: 30px;
    

}

.griddd {
    padding: 20px;
    height: 160px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    width: 620px;
    margin: 50px;

}

.grid_hijo {
    border: 2px solid rgb(0, 20, 0);
    position: relative;
}

.grid_hijo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

header {
    background: rgb(35, 133, 35);
    width: 100%;
    height: 100px;
    margin: 0px auto;
    text-align: center;
    line-height: 100px;
    animation-name: cambiarColor;
    animation-duration: 4s;
}

h6 {
    color: black;
    border: 3px white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    font-size: 50px;
}

nav {
    background: rgb(155, 236, 155);
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    gap: 5px;

}

a {
    color: rgb(15, 15, 15);
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix {
    clear: both;
}

#content {
    width: 80%;
    height: 560px;
    padding: 20px;
    float: left;

}



#motos {
    margin: 16px;
    padding: 16px;
}

#servicios {
    margin: 25px;
    padding: 25px;
}

#donde {
    margin: 25px;
    padding: 25px;
}

#preguntas {
    margin: 25px;
    padding: 25px;
}

iframe {
    padding: 5px;
    margin: 32px;
    width: 630px;
}

.caja1 {
    background-color: rgb(138, 136, 136);
    width: 400px;
    height: 220px;
    float: left;
}

.caja2 {
    background-color: rgb(184, 184, 176);
    width: 400px;
    height: 220px;
    float: left;
    margin: 5px;
}

.caja3 {
    background-color: rgb(169, 157, 143);
    width: 400px;
    height: 220px;
    float: left;
}

.contenedor {

    padding: 30px;
}
footer {
  background: rgb(35, 133, 35);
  padding: 30px;
  width: 100%;
  border: radius 0;
  position: relative;
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 1023px) {}
    
    


@media only screen and (max-width: 600px) {
    header {
        background-color: rgb(55, 93, 55);
        
    }
   
  
}
@media only screen and (max-width: 768px) {}


@keyframes cambiarColor {
    0% {
        background-color: beige;
    }

    100% {
        background-color: green;
    }
}