#content {
    width: 80%;
    height: 560px;
    padding: 20px;
    float: left;

}

footer {
    background: black;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 20px;
}

#motos {
    margin: 16px;
    padding: 16px;
}

#servicios {
    margin: 25px;
    padding: 25px;
}

#donde {
    margin: 25px;
    padding: 25px;
}

#preguntas {
    margin: 25px;
    padding: 25px;
}

iframe {
    padding: 5px;
    margin: 32px;
    width: 630px;
}

.caja1 { background-color: rgb(138, 136, 136);
width: 400px;
height: 220px;
float: left;
}
.caja2 { background-color: rgb(184, 184, 176);
    width: 400px;
    height: 220px;
    float: left;
    margin: 5px;
}
.caja3 { background-color: rgb(169, 157, 143);
    width: 400px;
    height: 220px;
    float: left;
}
.contenedor {
   
    padding: 30px;
}