.grid_texto {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(185, 185, 185);
    color: black;
    padding: 0.5rem 1rem;
}

.grid {
    padding: 1rem;
    min-height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    width: 1000px;
    
}
.gridd {
    padding: 1rem;
    min-height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    width: 1650px;
    margin: 40px;
    
}
.griddd {
    padding: 20px;
    height: 160px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
    width: 620px;
    margin: 50px;
    
}
 
.grid_hijo {
    border: 2px solid rgb(0, 20, 0);
    position: relative;
}

.grid_hijo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}